* {
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d9d9d9;
  height: 100%;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-family: verdana, sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 5.2pt;
  word-spacing: -7.4pt;
  line-height: 1.5;
}
.container {
  margin: 150px 50px 50px 250px;
  border-radius: 30px;
  background: #d9d9d9;
  box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #fafafa;
  padding-bottom: 20px;
}
#input-item {
  border: none;
  text-align: center;
  transition: 0.5s;
  height: 70px;
  width: 1070px;
  margin: 1.25rem;
  font-size: 2rem;
  border-radius: 50px;
  background: linear-gradient(145deg, #c3c3c3, #e8e8e8);
  box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #fafafa;
}
#btn-add-item {
  align-items: center;
  border: none;
  border-radius: 50px;
  text-align: center;
  font-size: 2rem;
  transition: 0.5s;
  height: 60px;
  width: 200px;
  border-radius: 50px;
  background: #d9d9d9;
  box-shadow: 20px 20px 60px #b8b8b8, -20px -20px 60px #fafafa;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
.list-item {
  color: rgb(0, 9, 63);
  font-size: 1.4rem;
  font-family: 'Hind', sans-serif;
  cursor: pointer;
}
.list-item p,
button {
  display: inline-block;
}
